<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" &#60;head&#62;&#60; head&#62><b>Municipalidad de La Calera</b></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="Principal">Principal</a></li>
                        <li><a href="Archivos">Archivos</a></li>
                        <li class="dropdown">
                            <a href="GaleriadeFotos" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Galeria de Fotos <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="Deporte">Deporte</a></li>
                                <li><a href="Viviendas">Viviendas</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        <li><a href="Contacto">Contacto</a></li>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>

