<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="caret"></span>


                    </button>
                    <h2>Municipalidad de la Calera</h2>
                    <img src="~/assets/imagen/image.jpg" width="50" height="50" />
                    

                </div>

                <ul class="btn btn-default" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">Principal</a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">Archivo</a>
                    </li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#">Contacto</a>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Galeria de Fotos <span class="caret"></span></a>
                        <ul class="dropdown-menu">


                            <li><a href="#">Deporte</a></li>

                            <li><a href="#">Casas</a></li>

                            <li><a href="#">Escuela</a></li>

                            <li role="separator" class="divider"></li>

                            <li class="dropdown-header">Nav header</li>

                            <li><a href="#">Separated link</a></li>

                            <li><a href="#">One more separated link</a></li>

                        </ul>


                    </li>
                </ul>
            </div>

        </nav>

    </div>

</div>





