@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form class="form-vertical">
        <fieldset>
            <legend><font><font>Leyenda</font></font></legend>
            <div class="form-control-static">
                <label for="inputEmail" class="col-lg-2 control-label"><font><font>Email</font></font></label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label"><font><font>Contraseña</font></font></label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"><font>
                                <font>
                                    Casilla de verificación
                                </font>
                            </font>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="comment">Comentario</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
           
            <br>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default"><font><font>Cancelar</font></font></button>
                    <button type="submit" class="btn btn-primary"><font><font>Enviar</font></font></button>
                </div>
            </div>
        </fieldset>
    </form>