<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>Nebaris - Galeria</title>
</head>
<body>
    <div id="divImagenes">
        <img src="~/assets/imagen/imagen 3.jpg" />
        <img src="~/assets/imagen/imagen 4.jpg" />
        <img src="~/assets/imagen/imagen 5.jpg" />
        <img src="~/assets/imagen/imagen 6.jpg" />
        <img src="~/assets/imagen/imagen 7.jpg" />
        <img src="~/assets/imagen/imagen 1.jpg" />
        <img src="~/assets/imagen/imagen 8.jpg" />
        <img src="~/assets/imagen/imagen 9.jpg" />
        
    </div>
</body>
</html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var milisegundos = 0;
        //ocultamos todas las imágenes del div
        $('#divImagenes img').hide();
        //recorremos una por una
        $('#divImagenes img').each(function () {
            var imagen = this;
            //setTimeout permite retrazar la ejecución de código
            //el primer parámetro es el código a ejecutar
            //y el segundo es el tiempo (en milisegundos) que tiene que esperar para ejecutarlo
            setTimeout(function () {
                //aplicamos la función fadeIn para que la imagen tarde 1 segundo en aparecer completamente
                $(imagen).fadeIn(1000);
            }, milisegundos)
            //incrementamos la variable para que se vayan cargado de 1 por vez
            milisegundos += 100
        });
    });
</script>











