<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>Nebaris - Galeria</title>
</head>
<body>
    <h1>Convenios</h1>
    <h2>se firmaron 15 convenios de adjudicación de viviendas municipales</h2>
    <img src="~/assets/imagen/P1190350.JPG" alt="generic placeholder image" width="140" height="140" />
    <p>
        El acto se concretó este sábado por la noche en el salón municipal con una gran cena show animada por Juan Galeano que incluyó, además, un homenaje al periodista Omar Reinoso.
        En el marco del Plan de Viviendas Municipal “La Calera Crece”, se firmaron 15 contratos entre los adjudicatarios y la Municipalidad.
        De la actividad oficial participaron también las diputadas Norma Villegas y Rosa Calderón; el presidente del Partido Unión y Libertad (PUL), Augusto Van Soest y militantes del departamento Belgrano, como Marcelo Godoy. Estuvieron presentes también los Intendentes de Alto Pencoso y de San Jerónimo, Alberto Olguin y Lorena Cardinalli, respectivamente.
    </p>
    <p>
        Según la ordenanza redactada a los fines de la construcción de dichas viviendas sociales, las mismas serán realizadas conforme a dos modalidades: Las construidas en su totalidad con recursos del municipio, y las que se edificarán mediante la cooperación entre la Municipalidad, que aportará el personal para la construcción y los beneficiarios, quienes aportarán los materiales de obra.-

        El municipio también dona el terreno de 300 m2 cada uno, a aquellos beneficiarios que no contaban con una propiedad (14 de los adjudicatarios), para lo cual se destinaron parcelas en el centro del pueblo. El barrio llevará el nombre Blanca Calderón de Sosa, en honor a una enfermera del pueblo. La Dra. Villegas, fue quien la recordó. La legisladora también donó la piedra fundamental que será instalada en un monolito del nuevo complejo habitacional.
    </p>
    <p>
        Los beneficiados de viviendas construido 100% con fondos genuinos del municipio son Garro Patricia Isabel, Camargo Antonia Deolinda, Albelo Damián, Moreira María Belén, Moreira Natalia Jesús, Calderón Natalia del Carmen, Estorni Beatriz Noemí, Sosa Teófilo Sergio y Nancy Cruceño. Mientras que los seis restantes, Pizarro Cristian Ariel, Frías Atilio Bernabe,  Gelonet Mauro Gabriel, Muñoz Cesar Alcides, Muñoz Genaro Walter  y Arce Jorge Rubén, pertenecen a la segunda modalidad, establecida como cooperación entre los adjudicatarios y la Municipalidad.

        El edil de la comuna anunció que la obra de las primeras 9 viviendas mencionadas comenzarán a construirse este lunes por la mañana. y las 6 restantes, pertenecientes al segundo grupo, iniciaría el 15 de enero del 2016, aunque destacó que "Puede ser antes. Y posiblemente no sea 6 sino más, ya que hay otras personas interesadas en inscribirse en este plan. Hay 20 terrenos, hasta 20 vamos a llegar", remarcó Lorenzetti.
    </p>
    <br />
    <p>
        Los beneficiados de viviendas construido 100% con fondos genuinos del municipio son Garro Patricia Isabel, Camargo Antonia Deolinda, Albelo Damián, Moreira María Belén, Moreira Natalia Jesús, Calderón Natalia del Carmen, Estorni Beatriz Noemí, Sosa Teófilo Sergio y Nancy Cruceño. Mientras que los seis restantes, Pizarro Cristian Ariel, Frías Atilio Bernabe,  Gelonet Mauro Gabriel, Muñoz Cesar Alcides, Muñoz Genaro Walter  y Arce Jorge Rubén, pertenecen a la segunda modalidad, establecida como cooperación entre los adjudicatarios y la Municipalidad.

        El edil de la comuna anunció que la obra de las primeras 9 viviendas mencionadas comenzarán a construirse este lunes por la mañana. y las 6 restantes, pertenecientes al segundo grupo, iniciaría el 15 de enero del 2016, aunque destacó que "Puede ser antes. Y posiblemente no sea 6 sino más, ya que hay otras personas interesadas en inscribirse en este plan. Hay 20 terrenos, hasta 20 vamos a llegar", remarcó Lorenzetti.
    </p>
</body>
</html>