<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>Nebaris - Galeria</title>
</head>
<body>
    <h1>Viviendas</h1>
    <h2>Viviendas Sociales que va a construir el municipio</h2>
    <img class="first-slide" img src="~/assets/imagen/image(32).jpg" alt="First slide" />
    <p>El Sábado 13 de Junio del corriente año , En un acto Municipal  se llevo a cabo la firma y entrega de los convenios  de las viviendas sociales que va a construir la municipalidad de La Calera, el Intendente , Diego Lorenzetti estuvo  acompañado por las diputadas del Dpto. Belgrano : Rosa Calderón y Norma Villegas.</p>
</body>
</html>